#petition_list thead th {
    top: 30px;
    background-color: #FFF;
    border-bottom: 1px solid black;
    box-shadow: inset 0 -2px 0 #CCC;
}
#petition_export_button {
    background-color: #FFF;
    border-top: 1px solid #CCC;
}
#petition_export_button input {
    margin: 10px;
}
.petition-summary {
    max-width: 400px;
    overflow: auto;
}
.petition-stopdate {
    width: 105px;
}